.App {
  min-height: 100vh;
  background: rgba(173, 216, 230, 0.425);
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
.flex-container{
  height: 600px;
  width: 600px;
  background: white;
  border-radius: 20px;
  border: 2px solid black;
  font-family: cursive;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.Header {
  color: purple;
  height: '30px';
}

