.App {
  text-align: center;
  background-color: #2831344f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: auto;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Header {
  color: #61fb9c94;
  height: '30px';
}
